@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-track {
  background: #000000;
}

.dark ::-webkit-scrollbar-thumb {
  background: #27272a;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
